@font-face {
  font-family: "Fugaz One";
  src: url("../assets/fonts/FugazOne-Regular.ttf");
}
@font-face {
  font-family: "nunito";
  src: url("../assets/fonts/Nunito-VariableFont_wght.ttf");
}
@font-face {
  font-family: "fredoka";
  src: url("../assets/fonts/Fredoka-VariableFont_wdth\,wght.ttf");
}



@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}

@theme {
  --font-fugaze: "Fugaz One", "sans-serif";
  --font-nunito: "nunito", "sans-serif";
  --font-fredoka: "fredoka", "sans-serif";
}
